*{
    margin : 0;
    padding : 0;
    text-align: center;
}

#heading{
    background-color: #735D78;
    color: white;
    height: 5rem;
    line-height: 5rem;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: #FFC8DD;
}

.option{
    height: 165px;
    width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.option:hover{
    cursor: pointer;
    background-color: #B392AC;
}

img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.sps-option{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 3rem;
    margin-top: 5rem;;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 5rem;
    gap: 5rem;
}

#user-score, #comp-score{
    font-size: 4rem;
}

.messege{
    margin-top: 5rem;
}

#msg{
    background-color: #735D78;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}